@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
 
* {
  box-sizing: border-box;
}
 
body {
  background-color: rgb(62, 62, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
  color: white;
}
 
.container {
  width: 350px;
  float: right;
  margin-left: 300px;
}
 
.form-container {
  width: 350px;
  float: left;
}
 
h1 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}
 
h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}
 
h4 {
  margin: 0;
  text-transform: capitalize;
}
 
.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  border-radius: 25px;
}
 
.inc-exp-container > div {
  flex: 1;
  text-align: center;
  color: black;
}
 
.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
 
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
 
.money.plus {
  color: #2ecc71;
}
 
.money.minus {
  color: #c0392b;
}
 
label {
  display: inline-block;
  margin: 10px 0;
}
 
input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 25px;
}
 
.btn {
  cursor: pointer;
  background-color: #2ecc71;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 25px;
}
 
.user {
  cursor: pointer;
  background-color: #2ecc71;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 25px;
}
 
.btn:focus,
.delete-btn:focus {
  outline: 0;
}
 
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
 
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
 
.list li.plus {
  border-bottom: 5px solid #2ecc71;
  border-radius: 25px;
}
 
.list li.minus {
  border-bottom: 5px solid #c0392b;
  border-radius: 25px;
}
 
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -150%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 25px;
}
 
.list li:hover .delete-btn {
  opacity: 1;
}
